<mat-card class="card">
  <mat-card-header class="card__header">
    <mat-card-title class="card__title">
      <ngx-skeleton-loader count="1" appearance="line" animation="progress" [theme]="{'height': '40px', 'width': '390px'}"></ngx-skeleton-loader>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content class="card__content">
    <ngx-skeleton-loader class="card__img" animation="progress" [theme]="{'height': '600px', 'width': '400px'}"></ngx-skeleton-loader>
  </mat-card-content>
  <mat-card-footer class="card__footer">
    <ng-container >
      <ngx-skeleton-loader class="card__genre" count="1" appearance="line" animation="progress" [theme]="{'height': '20px', 'width': '50%'}"></ngx-skeleton-loader>
    </ng-container>
  </mat-card-footer>
</mat-card>
