.toolbar {
  height: 7vh;
  background-color: gray;
}

.toolbar__link {
  text-decoration: none;
  font-size: 110%;
  white-space: normal;
}

.sidenav {
  min-height: 93vh !important;
}

.sidenav__content {
    text-align: center;
}
