<mat-card class="card" *ngIf="movie">
  <mat-card-header class="card__header">
    <mat-card-title class="card__title">{{movie.title}}</mat-card-title>
  </mat-card-header>
  <mat-card-content class="card__content" (click)="handleMovieDetail(movie.id)">
    <img class="card__img" [src]="movie.poster" [alt]="movie.title">
  </mat-card-content>
  <mat-card-footer class="card__footer">
    <ng-container *ngFor="let genre of movie.genre">
      <span class="card__genre">#{{genre}} </span>
    </ng-container>
  </mat-card-footer>
</mat-card>
