<mat-spinner color="warn" class="new-movie__spinner" *ngIf="showSpinner"></mat-spinner>
<div class="new-movie">
  <form class="movie__form" [formGroup]="movieGroup" (ngSubmit)="onSubmit()">
    <mat-form-field class="movie__form-field">
      <mat-label>{{ 'NEW-MOVIE.TITLE' | translate }}</mat-label>
      <input matInput placeholder="{{ 'NEW-MOVIE.TITLE' | translate }}" formControlName="title">
    </mat-form-field>
  
    <mat-form-field class="movie__form-field">
      <mat-label>{{ 'NEW-MOVIE.POSTER' | translate }}</mat-label>
      <input matInput placeholder="{{ 'NEW-MOVIE.POSTER' | translate }}" formControlName="poster">
    </mat-form-field>

    <mat-form-field class="movie__form-field">
      <mat-label>{{ 'NEW-MOVIE.GENRES' | translate }}</mat-label>
      <mat-chip-list #chipListGenre aria-label="Genre selection">
        <mat-chip *ngFor="let genre of genres" (removed)="removeGenre(genre)">
          {{genre.name}}
          <button matChipRemove>
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip>
        <input 
          formControlName="genre"
          placeholder="{{ 'NEW-MOVIE.GENRES' | translate }}"
          [matChipInputFor]="chipListGenre"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          matChipInputAddOnBlur="true"
          (matChipInputTokenEnd)="addGenre($event)">
      </mat-chip-list>
    </mat-form-field>

    <mat-form-field class="movie__form-field">
      <mat-label>{{ 'NEW-MOVIE.ACTORS' | translate }}</mat-label>
      <mat-chip-list #chipList aria-label="Actor selection">
        <mat-chip
          *ngFor="let actor of actors"
          (removed)="remove(actor)">
          {{actor.fullName}}
          <button matChipRemove>
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip>
        <input
          placeholder="{{ 'NEW-MOVIE.ACTORS' | translate }}"
          #actorInput
          formControlName="actors"
          [matAutocomplete]="auto"
          [matChipInputFor]="chipList"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          (matChipInputTokenEnd)="add($event)">
      </mat-chip-list>
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
        <mat-option *ngFor="let actor of allActors" [value]="actor.id">
          {{actor.fullName}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field class="movie__form-field">
      <mat-label>{{ 'NEW-MOVIE.STUDIE' | translate }}</mat-label>
      <input matInput placeholder="{{ 'NEW-MOVIE.STUDIE' | translate }}" formControlName="studio">
    </mat-form-field>

    <mat-form-field class="movie__form-field">
      <mat-label>{{ 'NEW-MOVIE.YEAR' | translate }}</mat-label>
      <input matInput placeholder="{{ 'NEW-MOVIE.YEAR' | translate }}" formControlName="year">
    </mat-form-field>

    <mat-form-field class="movie__form-field">
      <mat-label>{{ 'NEW-MOVIE.DURATION' | translate }}</mat-label>
      <input matInput placeholder="{{ 'NEW-MOVIE.DURATION' | translate }}" formControlName="duration">
    </mat-form-field>

    <mat-form-field class="movie__form-field">
      <mat-label>{{ 'NEW-MOVIE.RATING' | translate }}</mat-label>
      <input matInput placeholder="{{ 'NEW-MOVIE.RATING' | translate }}" formControlName="rating">
    </mat-form-field>

    <button type="submit" [disabled]="showSpinner"
      class="new-movie__button" mat-raised-button color="warn">Guardar</button>
  </form>

</div>